<!DOCTYPE html>
<html>
	<head>
		<title>Страница не найдена</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<header>
			<div id = "box">
				<nav>
					<a href="/">Главная</a><a href="/about">О сайте</a><a href="/contacts">Контакты</a>
				</nav>
			</div>
		</header>

		<div id = "box">
			<div id = "content">
        <div id = "post">
          <img src="/img/404.png" alt="Страница не найдена">
          <h2>Страница не найдена</h2>
        </div>
			</div>

			<div id = "sidebar">
			  <aside>
			    <div id = "search">
						<form action="/#" method="get">
			        <input type="text" id="search-text" placeholder="Введите запрос"/>
			        <button type="button" class="button">Искать</button>
			      </form>
			    </div>

			    <div id = "headings">
			      <h2>Рубрики</h2>
			      <ul>
			        <li><a href="#">Новая рубрика</a> (1)</li>
							<li><a href="#">Новая рубрика 2</a> (1)</li>
			      </ul>
			    </div>
			  </aside>
			</div>

			<div id = "clear"></div>
		</div>

		<footer>
			<div id = "box">
				<div id = "footer-text">Copyright © 2017 <strong>VanyakaCompany</strong> | Все права защищены, но кого это волнует...</div>
			</div>
		</footer>
	</body>
</html>
