<!DOCTYPE html>
<html>
	<head>
		<title>Страница не найдена</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		{{> header}}

		<div id = "box">
			<div id = "content">
        <div id = "post">
          <img src="/img/404.png" alt="Страница не найдена">
          <h2>Страница не найдена</h2>
        </div>
			</div>

			{{> sidebar}}

			<div id = "clear"></div>
		</div>

		{{> footer}}
	</body>
</html>
