<!DOCTYPE html>
<html>
	<head>
		<title>О сайте</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		{{> header}}

		<div id = "box">
			<div id = "content">
        <div id = "post">
          <h2>О сайте</h2>
          <p>Данный макет сайта был разработан для демонстрации работы сервера, разрабатываемого в рамках уроков от
            <a href="https://vse-sdelano.ru" target="_blank">Всё сделано.ru</a></p>
            <p>Делалось всё на скорую руку, так что не судите строго :)</p>
        </div>
			</div>

			{{> sidebar}}

			<div id = "clear"></div>
		</div>

		{{> footer}}
	</body>
</html>
