<!DOCTYPE html>
<html>
	<head>
		<title>Контакты</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		{{> header}}

		<div id = "box">
			<div id = "content">
        <div id = "post">
          <h2>Контакты</h2>
          <p>Автора макета вы не найдёте по следующим контактам:</p>
          <ul>
            <li>8 800 555 35 35</li>
            <li>uMenya@doma.net</li>
            <li>ул. Пушкина, д. Колотушкина, палата №6</li>
          </ul>
        </div>
			</div>

			{{> sidebar}}

			<div id = "clear"></div>
		</div>

		{{> footer}}
	</body>
</html>
