<!DOCTYPE html>
<html>
	<head>
		<title>Какой-то сайт.ru</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<header>
			<div id = "box">
				<nav>
					<a href="/">Главная</a><a href="/about">О сайте</a><a href="/contacts">Контакты</a>
				</nav>
			</div>
		</header>

		<div id = "box">
			<div id = "content">
				<div id = "post">
					<div id="meta">
					  <span><a href="/post-1.html#comments" title="Комментарии"><img src="/img/comments.png"> <b>0</b></a></span>
					  <span><a href="/post-1.html" title="Рубрика"><img src="/img/category.png"> <b>Новая рубрика</b></a></span>
					  <span><a href="/post-1.html" title="Автор"><img src="/img/author.png"> <b>Admin</b></a></span>
					  <span><a href="/post-1.html" title="Дата создания статьи"><img src="/img/calendar.png"> <b>02.08.2017</b></a></span>
					</div>

					<a href="/post-1.html"><img src="img/about.png" alt="Статья №1"></a>
					<a href="/post-1.html"><h2>Статья №1</h2></a>

					<p>Описание...</p>

					<br>

					<a href="/post-1.html" class="button">Читать далее >></a>
				</div>

				<div id = "post">
					<div id="meta">
					  <span><a href="/post-2.html#comments" title="Комментарии"><img src="/img/comments.png"> <b>0</b></a></span>
					  <span><a href="/post-2.html" title="Рубрика"><img src="/img/category.png"> <b>Новая рубрика 2</b></a></span>
					  <span><a href="/post-2.html" title="Автор"><img src="/img/author.png"> <b>Admin</b></a></span>
					  <span><a href="/post-2.html" title="Дата создания статьи"><img src="/img/calendar.png"> <b>02.08.2017</b></a></span>
					</div>

					<a href="/post-2.html"><img src="img/calc.png" alt="Статья №2"></a>
					<a href="/post-2.html"><h2>Статья №2</h2></a>

					<p>Описание...</p>

					<br>

					<a href="/post-2.html" class="button">Читать далее >></a>
				</div>
			</div>

			<div id = "sidebar">
			  <aside>
			    <div id = "search">
						<form action="/#" method="get">
			        <input type="text" id="search-text" placeholder="Введите запрос"/>
			        <button type="button" class="button">Искать</button>
			      </form>
			    </div>

			    <div id = "headings">
			      <h2>Рубрики</h2>
			      <ul>
			        <li><a href="#">Новая рубрика</a> (1)</li>
							<li><a href="#">Новая рубрика 2</a> (1)</li>
			      </ul>
			    </div>
			  </aside>
			</div>

			<div id = "clear"></div>
		</div>

		<footer>
			<div id = "box">
				<div id = "footer-text">Copyright © 2017 <strong>VanyakaCompany</strong> | Все права защищены, но кого это волнует...</div>
			</div>
		</footer>
	</body>
</html>
