<!DOCTYPE html>
<html>
	<head>
		<title>Статья №2</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<header>
			{{> header}}

		<div id = "box">
			<div id = "content">
        <div id = "post">
          <div id="meta">
					  <span><a href="#comments" title="Комментарии"><img src="/img/comments.png"> <b>0</b></a></span>
					  <span><a href="#" title="Рубрика"><img src="/img/category.png"> <b>Новая рубрика 2</b></a></span>
					  <span><a href="#" title="Автор"><img src="/img/author.png"> <b>Admin</b></a></span>
					  <span><a href="#" title="Дата создания статьи"><img src="/img/calendar.png"> <b>02.08.2017</b></a></span>
					</div>

          <h2>Статья №2</h2>

          <div id = "post-header-img">
            <img src="/img/calc.png" alt="Статья №2">
          </div>

          <p>как посмотреть кино на сайте
          французский заливной пирог
          стихотворение прощайте
          тройной союз германский блок
          вязание крючком сапожки
          картинки девушка и кошки
          гидротехнический бетон
          не запускается айфон
          купить пропитку для бетона
          чем лечат знахари ответ
          акриловые краски вред
          перепрошивка телефона
          читать онлайн луиза хей
          толстеют ли от сухарей</p>
          <p>песня про татарина
          мельница макларена
          улица опарина
          замуж за болгарина</p>
          <p>что такое пучок плоскостей
          интернет-магазин орхидей
          федеральный закон
          когда выйдет айфон
          государственный русский музей</p>
          <p>момент затяжки шатунов
          герой ударного отряда
          актер владимир горбунов
          опорный план димитровграда

          кулоны с ликами святых
          настойки кайрон томагавка
          я стол накрыл на шестерых
          восточный банк онлайн заявка</p>
          <p>категории мяса свиней
          колыбельные для малышей
          стереомикрофон
          как украсть миллион
          нападение львов на людей</p>
        </div>

				<div id="post">
					<a id = "comments"></a>
  				<h3>Добавить комментарий</h3>
					<form action="#" method="post">
		        <textarea class="field field_820x160" name="text" placeholder="Введите свой комментарий..."></textarea> <br>
		        <button type="button" class="button botton_read_to_black">Отправить</button>
		      </form>
				</div>

				<div id="post">
					<b>Вано</b> (<b>03.08.2017</b>)
					<p>Первый!</p>
				</div>
			</div>

			{{> sidebar}}

			<div id = "clear"></div>
		</div>

		{{> footer}}
	</body>
</html>
