<div id = "sidebar">
  <aside>
    <div id = "search">
      <form action="/#" method="get">
        <input type="text" id="search-text" placeholder="Введите запрос"/>
        <button type="button" class="button">Искать</button>
      </form>
    </div>

    <div id = "headings">
      <h2>Рубрики</h2>
      <ul>
        <li><a href="#">Новая рубрика</a> (1)</li>
        <li><a href="#">Новая рубрика 2</a> (1)</li>
      </ul>
    </div>
  </aside>
</div>
