/*Общие параметры*/
body {
	font-family: 'Open Sans', Tahoma, Arial;
	font-size: 17px;
	color: #303030;
	background-color: #FFFFFF;
	margin: 0 auto;
	min-width: 980px;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #45ABE5;
}

a:hover {
	color: #364956;
}





/*Меню*/
nav {
	padding-left: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 23px;
}

nav a {
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 20px;
}





/*Контент*/
#box {
	max-width: 1349px;
	margin: 0 auto;
}

#content {
	display: block;
	float: left;
	margin-right: -21px;
}

#post {
	width: 830px;
	margin-left: 50px;
	margin-top: 30px;
	display: block;
	border-top: 1px solid #A9A9A9;
	padding: 20px;
	padding-bottom: 30px;
	font-size: 17px;
}

#post img {
	max-width: 250px;
	height: auto;
}

#post-header-img {
	text-align: center;
}

#meta {
	text-align: right;
	margin-bottom: 10px;
}

#meta a{
	margin-right: 20px;
	font-size: 14px;
}

#clear {
	clear: both;
}





/*Сайдбар*/
#sidebar {
	width: 350px;
	display: block;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}

#search {
	text-align: center;
}

#search-text {
	width: 200px;
	height: 37px;
	padding-top: 5px;
	font-size: 17px;
}

#headings {
	padding-left: 40px;
}





/*Подвал*/
footer {
	padding: 20px;
	margin-top: 50px;
	padding-top: 40px;
}





/*Кнопки*/
.button {
  padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Open Sans', Tahoma, Arial;
	font-size: 17px;
	border: 0px;
	outline: none;
	cursor: pointer;
	user-select: none;

	color: #303030;
	background-color: #DDDDDD;
}

.button, .button:link, .button:visited, .button:hover {
  color: #303030;
	background-color: #DDDDDD;
}





/*Текстовые поля*/
.field {
  padding-top: 5px;
	font-size: 17px;
	margin-bottom: 10px;
	resize: none;
}

.field_820x160 {
  width: 820px;
	height: 160px;
}





/* Адаптивный дизайн */

/* Если ширина браузера меньше 1349px : */
@media all and (max-width: 1349px) {

	/* Уменьшить ширину сайта */
	#box {
		max-width: 980px;
		margin: 0 auto;
	}

	/* Растянуть сайдбар на ширину всего контента */
	#sidebar {
		width: 870px;
		display: block;
		float: left;
		margin-left: 50px;
		margin-top: 50px;
	}

	/* Подстроить блок поиска */
	#search {
		padding: 12px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
		margin-top: 30px;
	}

	/* Подстроить поле поиска */
	#search-text {
		width: 700px;
		height: 37px;
		padding-top: 5px;
		font-size: 17px;
	}
}
