<!DOCTYPE html>
<html>
	<head>
		<title>Синтаксис handlebars</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>Синтаксис handlebars</h1>

		<p>Настояшие люди:<p>
		{{#each list}}
			{{#if flag}}
				<p>{{name}}</p>
			{{/if}}
		{{/each}}
	</body>
</html>
