<!DOCTYPE html>
<html>
	<head>
		<title>Синтаксис handlebars</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>Синтаксис handlebars</h1>

		<p>Автор урока: {{data.[0].[0]}}</p>
		<p>Специально для сайта <b>{{data.[1].site}}</b></p>
		<p>Номер урока: <i>{{data.[1].number}}</i></p>
	</body>
</html>
