<!DOCTYPE html>
<html>
	<head>
		<title>Синтаксис handlebars</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>Синтаксис handlebars</h1>

		<p>Их разыскивает полиция:<p>
		{{#each names}}
			<p><b>{{this}}</b> (<i>Особо опасен!</i>)</p>
		{{/each}}
	</body>
</html>
