<!DOCTYPE html>
<html>
	<head>
		<title>Синтаксис handlebars</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>Синтаксис handlebars</h1>

		<p>Наша команда:<p>
		{{#each list}}
			{{#if flag}}
				<p>{{name}} (человек)</p>
			{{else}}
				<p>{{name}} (бот)</p>
			{{/if}}
		{{/each}}
	</body>
</html>
